@font-face {
  font-family: 'IBMPlexSansKR-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

/* ν—¤λ” */
#header {
  height: 80px;
  background-color: #006938;
  font-family: 'IBMPlexSansKR-Regular';
  display: flex;
  justify-content: space-around;
}

#header a {
  color: #ffffff;
}


.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 60px;
  margin-right: 5px;
}

.logoH h1 {
  font-size: 29px;
  font-weight: 600;
  letter-spacing: 3px;
}  

.logoH h6 {
  margin: -8px 0 0 2.5px;
  font-size: 15px;
  font-weight: 500;
}


#navDrop > ul > li {
  padding: 22.5px 0;
  width: 160px;
  font-size: 23px;
  text-align: center;
  display: inline-block;
  position: relative;
}

#navDrop > ul > li ul {
  list-style: none;
  display: none;
  position: absolute;
  margin-top: 22px;
}

#navDrop > ul > li:hover ul {
  display: block;
}

#navDrop > ul > li ul li {
  padding: 7px 0;
  width: 180px;
  font-size: 23px;
  background-color: #009b64;
}

#navDrop > ul > li ul li:hover {
  background-color: #2c673d;
}


/* ν‘Έν„° */
#footer {
  height: 100px;
  border-top: 2px solid #006938;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#footer > div p {
  color: #006938;
  font-size: 16px;
  font-weight: 600;
}

#footer > div span {
  margin-right: 25px;
  color: #000000;
}


.logoF h1 {
  color: #006938;
  font-size: 29px;
  font-weight: 700;
  letter-spacing: 5.5px;
}

.logoF h6 {
  margin: -5px 0 0 2px;
  font-size: 13px;
  font-weight: 700;
}



/* main */
#main {
  background-color: aquamarine;
}

.main1 {
  height: 690px;
  background-color: red;
}

.main2 {
  height: 199px;
  background-color: yellow;
}

.main3 {
  height: 268px;
  background-color: green;
}

.main4 {
  height: 400px;
  background-color: blue;
}





/* introduce */
#introduce {
  height: 1200px;
}

.top {
  background-color: yellow;
  height: 200px;
}

.introduce1 {
  background-color: red;
  height: 1000px;
  width: 40%;
  float: left;
}

.introduce2 {
  background-color: blue;
  height: 1000px;
  width: 60%;
  float: left;
} 


/* project */
#project {
  height: 1000px;
}

.board {
  background-color: beige;
  height: 800px;
}



/* study */
#study {
  height: 1000px;
}